* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

%primary-button {
    padding: 12px 35px;
    border: 1px solid;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #1d1b1c;
    border-color: #1d1b1c;
    transition: background-color .24s cubic-bezier(.64, 0, .35, 1);
    outline: none;
    min-width: 130px;
    .btn-content {
        transition: all 0.3s;
        backface-visibility: hidden;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        font-family: 'Josefin Sans', sans-serif;
        display: inline-block;
        width: 100%;
    }
}

.dm-insta-magic {
    .main-menu-page-content {
        display: flex;
        flex-wrap: wrap;
    }
    .menu-bar {
        background-color: #1d1b1c;
        flex: 0 0 3.81%;
        max-width: 3.81%;
        width: 100%;
        .main-menu-drawer {
            height: 100%;
            position: absolute;
            background: #1d1b1c;
            z-index: 9;
            transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, min-width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            width: 64px;
            overflow: hidden;
            .dm-menu-bar {
                li {
                    a {
                        color: #fff;
                    }
                }
            }
            .menu-drawer-header {
                padding: 75px 15px;
                margin-bottom: 80px;
                .header-title {
                    h2.title {
                        text-align: center;
                        font-size: 37px;
                        opacity: 0;
                        // font-family: 'Lobster Two', cursive;
                    }
                }
                .drawer-header {
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    box-sizing: content-box;
                    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    border-radius: 50%;
                    max-width: 40px;
                    max-height: 40px;
                    top: 32px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .dm-menu {
                height: 100%;
                padding: 0 15px;
                .dm-menu-bar {
                    height: 100%;
                    white-space: nowrap;
                    li {
                        display: flex;
                        align-items: center;
                        padding: 10px 8px;
                        cursor: pointer;
                        margin-bottom: 8px;
                        .menu-icon {
                            margin-right: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                fill: #fff;
                                width: 20px;
                                height: 20px;
                            }
                        }
                        &.menu-active {
                            border-radius: 20px;
                            background: #ffbf00;
                            height: 34px;
                            .menu-icon {
                                svg {
                                    fill: #000;
                                }
                            }
                            .menu-title {
                                a {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            &.open-menu-drawer {
                width: 280px;
                background: #000000;
                .menu-drawer-header {
                    background: #ffbf00;
                    .header-title {
                        h2.title {
                            opacity: 1;
                        }
                    }
                    .drawer-header {
                        max-width: 72px;
                        max-height: 72px;
                        top: 145px;
                        background: #000000;
                        padding: 8px;
                    }
                }
                .dm-menu {
                    background: #000;
                    .dm-menu-bar {
                        li {
                            &.menu-active {
                                border-radius: 0px 20px 20px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-menu-page {
        flex: 0 0 96.19%;
        max-width: 96.19%;
        width: 100%;
    }
    .dm-page-login-content {
        .page-fram-content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
            .action-btn-content {
                margin: 10px;
                .dm-btn-primary {
                    @extend %primary-button;
                    &::after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        transition: all 0.3s;
                    }
                    &::before {
                        position: absolute;
                        height: auto;
                        width: 100%;
                        line-height: normal;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        left: -100%;
                    }
                    &:hover {
                        background-color: #ffbf00;
                        border-color: #ffbf00;
                        .btn-content {
                            transform: translateX(210%);
                        }
                        &::before {
                            left: 0;
                        }
                    }
                }
                .dm-logout {
                    &::before {
                        right: -100%;
                        transition: all 0.3s;
                    }
                    &:hover {
                        .btn-content {
                            transform: translateX(-100px);
                        }
                        &::before {
                            right: 0;
                            left: auto;
                        }
                    }
                }
                .dm-login {
                    &::before {
                        content: url(../svg-and-image/svg/enter.svg);
                    }
                }
                .dm-logout {
                    &::before {
                        content: url(../svg-and-image/svg/logout.svg);
                    }
                }
                .dm-fb-page {
                    &::before {
                        content: url(../svg-and-image/svg/facebook-app-symbol.svg);
                    }
                }
            }
        }
    }
    .dm-page-card {
        .dm-page-card-tab {
            // box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, .2);
            overflow: hidden;
            .dm-tab-nav {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .dm-tab-name {
                    flex: 0 0 25%;
                    max-width: 25%;
                    width: 100%;
                    text-align: center;
                    padding: 8px 16px;
                    border-bottom: 2px solid transparent;
                    transition: all .5s ease;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        border-color: #dfe3e8;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #ffbf00;
                        right: 0;
                        bottom: -2px;
                        transition: .3s cubic-bezier(.25, .8, .5, 1);
                        left: -100%;
                    }
                    &.selected {
                        overflow: visible;
                        &::before {
                            left: 0;
                        }
                    }
                }
            }
            .dm-tab-info {
                position: relative;
                overflow: hidden;
                padding: 40px 15px;
                background: #f4f6f8;
                background-image: url(../svg-and-image/image/bg-image.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                .dm-info-panel {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin: 0;
                    width: 100%;
                    opacity: 0;
                    transform: translateX(100%);
                    &.is-active {
                        position: relative;
                        opacity: 1;
                        transform: translateX(0%);
                        transition: opacity 400ms ease-out, transform 400ms ease-out;
                    }
                    .dm-form-layout {
                        .dm-form-items {
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 30px;
                            align-items: center;
                            .dm-form-heading {
                                flex: 0 0 100%;
                                max-width: 100%;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 20px;
                                h2.title {
                                    font-size: 20px;
                                }
                            }
                            .dm-form-layout-item {
                                flex: 1 1 33.33%;
                                max-width: 33.33%;
                                width: 100%;
                                padding: 0 15px;
                                label {
                                    display: block;
                                    margin-bottom: 4px;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    font-weight: 600;
                                }
                                select,
                                input {
                                    outline: none;
                                    position: relative;
                                    display: flex;
                                    width: 100%;
                                    height: 3em;
                                    line-height: 3;
                                    background: #ffffff;
                                    border-radius: 4px;
                                    border: 1px solid #f4f5fa0d;
                                    padding: 5px 15px;
                                    font-size: 14px;
                                    font-family: 'Josefin Sans', sans-serif;
                                }
                                input[type="color"] {
                                    padding: 0;
                                    width: 30px;
                                    height: 30px;
                                    cursor: pointer;
                                }
                                input::-webkit-color-swatch {
                                    border: none;
                                    border-radius: 0.30px;
                                }
                                .dm-form-box-content {
                                    background: #fff;
                                    padding: 10px 20px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .dm-enable-disble-btn {
                                        @extend %primary-button;
                                        box-shadow: 0 5px #000;
                                        position: relative;
                                        border-radius: 5px;
                                        &:hover {
                                            box-shadow: 0 4px #000;
                                            top: 2px;
                                        }
                                        &.is-disble {
                                            opacity: 0.5;
                                            box-shadow: 0 0px #000;
                                            top: 6px;
                                            border-radius: 0;
                                        }
                                    }
                                    .color-box {
                                        cursor: pointer;
                                    }
                                    .dm-box-text {
                                        p {
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .color-box-content {
                                    justify-content: center;
                                    .dm-box-text {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .dm-info-panel.shop {
                    .dm-form-items {
                        justify-content: center;
                    }
                }
                .dm-form-submit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .submit-form {
                        margin: 10px;
                        .submit-btn {
                            border-radius: 5px;
                            box-shadow: 0 5px #000;
                            background: #1d1b1c;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            text-transform: capitalize;
                            padding: 12px 35px 12px 50px;
                            border: 1px solid #1d1b1c;
                            outline: none;
                            position: relative;
                            font-family: 'Josefin Sans', sans-serif;
                            display: flex;
                            align-items: center;
                            margin: 0 auto;
                            &::before {
                                position: absolute;
                                left: 0;
                                width: 40%;
                                line-height: 0.8;
                                content: url(../svg-and-image/svg/email.svg);
                            }
                            &:hover {
                                box-shadow: 0 4px #000;
                                top: 2px;
                            }
                            &.submited {
                                opacity: 0.9;
                                box-shadow: 0 0;
                                top: 6px;
                                border-radius: 0;
                                border: 0;
                                &::before {
                                    content: url(../svg-and-image/svg/loading.svg);
                                    animation: spin 4s linear infinite;
                                }
                            }
                        }
                        .btn-error {
                            animation: shakeAnim 4s linear infinite;
                            &::before {
                                content: url(../svg-and-image/svg/sad-face-in-rounded-square.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}

// Animations
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shakeAnim {
    0% {
        left: 0
    }
    1% {
        left: -3px
    }
    2% {
        left: 5px
    }
    3% {
        left: -8px
    }
    4% {
        left: 8px
    }
    5% {
        left: -5px
    }
    6% {
        left: 3px
    }
    7% {
        left: 0
    }
}

@keyframes animatetop {
    from {
        bottom: -50%;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: 0;
        opacity: 1
    }
    to {
        bottom: -50%;
        opacity: 0
    }
}

// Popup SCSS
.dm-facebook-page-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    &.open-popup {
        display: block;
    }
    .dm-fb-popup-content {
        position: relative;
        margin: auto;
        padding: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        &.popup-active-animation {
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
        }
        &.popup-diactive-animation {
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 0.4s;
            animation-name: animatebottom;
            animation-duration: 0.4s;
        }
    }
    .dm-popup-container {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .dm-popup-contents {
            background: url(https://image.freepik.com/free-photo/facebook-logo-minimal-simple-design-template-copy-space-3d_1379-4868.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .dm-popup-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0 0.4px 0 0 #e4e4e4;
            .popup-close {
                line-height: 0;
                .popup-close-icon {
                    background: transparent;
                    border: 0;
                    outline: none;
                    svg {
                        width: 25px;
                        height: 25px;
                        fill: #fff;
                    }
                }
            }
            .popup-heading {
                h2.title {
                    color: #fff;
                }
            }
        }
        .dm-popup-main-content {
            padding: 30px 0;
            max-height: 350px;
            overflow: auto;
            .dm-popup-main {
                display: flex;
                flex-wrap: wrap;
                justify-self: start;
                .fb-page-info {
                    padding: 10px;
                    flex: 1 1 33.33%;
                    max-width: 33.33%;
                    width: 100%;
                }
                input[type="radio"] {
                    display: none;
                    &:checked {
                        +label {
                            span.label-item {
                                background-color: #fff;
                                &:after {
                                    width: 10px;
                                    background: #4066af;
                                    transition: width 150ms ease 100ms;
                                }
                                &:before {
                                    width: 5px;
                                    background: #4066af;
                                    transition: width 150ms ease 100ms;
                                }
                            }
                            &:hover {
                                span.label-item {
                                    background-color: #fff;
                                    transform: scale(1.25); // enlarge the box
                                    &:after {
                                        width: 10px;
                                        background: #4066af;
                                        transition: width 150ms ease 100ms; // enlarge the tick
                                    }
                                    &:before {
                                        width: 5px;
                                        background: #4066af;
                                        transition: width 150ms ease 100ms; // enlarge the tick
                                    }
                                }
                            }
                        }
                    }
                }
                label {
                    display: inline-block;
                    color: #fff;
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    padding-bottom: 15px;
                    span.label-item {
                        display: inline-block;
                        position: relative;
                        background-color: transparent;
                        width: 25px;
                        height: 25px;
                        transform-origin: center;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        vertical-align: -6px;
                        margin-right: 10px;
                        transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);
                        &:before {
                            content: "";
                            width: 0px;
                            height: 2px;
                            border-radius: 2px;
                            background: #fff;
                            position: absolute;
                            transform: rotate(45deg);
                            top: 12px;
                            left: 8px;
                            transition: width 50ms ease 50ms;
                            transform-origin: 0% 0%;
                        }
                        &:after {
                            content: "";
                            width: 0;
                            height: 2px;
                            border-radius: 2px;
                            background: #fff;
                            position: absolute;
                            transform: rotate(305deg);
                            top: 15px;
                            left: 9px;
                            transition: width 50ms ease;
                            transform-origin: 0% 0%;
                        }
                    }
                    &:hover {
                        span.label-item {
                            &:before {
                                width: 5px;
                                transition: width 100ms ease;
                            }
                            &:after {
                                width: 10px;
                                transition: width 150ms ease 100ms;
                            }
                        }
                    }
                    .info-main {
                        display: inline-block;
                        width: calc(100% - 41px);
                        vertical-align: top;
                        span {
                            display: block;
                            padding-bottom: 5px;
                            text-transform: capitalize;
                            &:last-child {
                                padding-bottom: 0;
                            }
                        }
                        .info-content {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.success-message-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    .success-message-text {
        position: fixed;
        transform: translateY(500px);
        transition: all 0.5s ease;
        max-width: 250px;
        background: #000000b3;
        padding: 15px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        width: 100%;
        bottom: 0px;
        margin: 15px;
        &.is-save-successfully {
            transform: translateY(0px);
        }
    }
}