* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary, .dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-enable-disble-btn {
  padding: 12px 35px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1d1b1c;
  border-color: #1d1b1c;
  -webkit-transition: background-color 0.24s cubic-bezier(0.64, 0, 0.35, 1);
  transition: background-color 0.24s cubic-bezier(0.64, 0, 0.35, 1);
  outline: none;
  min-width: 130px;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary .btn-content, .dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-enable-disble-btn .btn-content {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  width: 100%;
}

.dm-insta-magic .main-menu-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dm-insta-magic .menu-bar {
  background-color: #1d1b1c;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.81%;
          flex: 0 0 3.81%;
  max-width: 3.81%;
  width: 100%;
}

.dm-insta-magic .menu-bar .main-menu-drawer {
  height: 100%;
  position: absolute;
  background: #1d1b1c;
  z-index: 9;
  -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, min-width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, min-width 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 64px;
  overflow: hidden;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu-bar li a {
  color: #fff;
}

.dm-insta-magic .menu-bar .main-menu-drawer .menu-drawer-header {
  padding: 75px 15px;
  margin-bottom: 80px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .menu-drawer-header .header-title h2.title {
  text-align: center;
  font-size: 37px;
  opacity: 0;
}

.dm-insta-magic .menu-bar .main-menu-drawer .menu-drawer-header .drawer-header {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  top: 32px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .menu-drawer-header .drawer-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu {
  height: 100%;
  padding: 0 15px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar {
  height: 100%;
  white-space: nowrap;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li .menu-icon {
  margin-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li .menu-icon svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li.menu-active {
  border-radius: 20px;
  background: #ffbf00;
  height: 34px;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li.menu-active .menu-icon svg {
  fill: #000;
}

.dm-insta-magic .menu-bar .main-menu-drawer .dm-menu .dm-menu-bar li.menu-active .menu-title a {
  color: #000;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer {
  width: 280px;
  background: #000000;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer .menu-drawer-header {
  background: #ffbf00;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer .menu-drawer-header .header-title h2.title {
  opacity: 1;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer .menu-drawer-header .drawer-header {
  max-width: 72px;
  max-height: 72px;
  top: 145px;
  background: #000000;
  padding: 8px;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer .dm-menu {
  background: #000;
}

.dm-insta-magic .menu-bar .main-menu-drawer.open-menu-drawer .dm-menu .dm-menu-bar li.menu-active {
  border-radius: 0px 20px 20px 0px;
}

.dm-insta-magic .main-menu-page {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96.19%;
          flex: 0 0 96.19%;
  max-width: 96.19%;
  width: 100%;
}

.dm-insta-magic .dm-page-login-content .page-fram-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content {
  margin: 10px;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary::before {
  position: absolute;
  height: auto;
  width: 100%;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: -100%;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary:hover {
  background-color: #ffbf00;
  border-color: #ffbf00;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary:hover .btn-content {
  -webkit-transform: translateX(210%);
          transform: translateX(210%);
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-btn-primary:hover::before {
  left: 0;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-logout::before {
  right: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-logout:hover .btn-content {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-logout:hover::before {
  right: 0;
  left: auto;
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-login::before {
  content: url(../svg-and-image/svg/enter.svg);
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-logout::before {
  content: url(../svg-and-image/svg/logout.svg);
}

.dm-insta-magic .dm-page-login-content .page-fram-content .action-btn-content .dm-fb-page::before {
  content: url(../svg-and-image/svg/facebook-app-symbol.svg);
}

.dm-insta-magic .dm-page-card .dm-page-card-tab {
  overflow: hidden;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav .dm-tab-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  overflow: hidden;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav .dm-tab-name:hover {
  border-color: #dfe3e8;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav .dm-tab-name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffbf00;
  right: 0;
  bottom: -2px;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  left: -100%;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav .dm-tab-name.selected {
  overflow: visible;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-nav .dm-tab-name.selected::before {
  left: 0;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info {
  position: relative;
  overflow: hidden;
  padding: 40px 15px;
  background: #f4f6f8;
  background-image: url(../svg-and-image/image/bg-image.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel.is-active {
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
  transition: opacity 400ms ease-out, -webkit-transform 400ms ease-out;
  transition: opacity 400ms ease-out, transform 400ms ease-out;
  transition: opacity 400ms ease-out, transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-heading h2.title {
  font-size: 20px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 33.33%;
  width: 100%;
  padding: 0 15px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item select,
.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item input {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #f4f5fa0d;
  padding: 5px 15px;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item input[type="color"] {
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item input::-webkit-color-swatch {
  border: none;
  border-radius: 0.30px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content {
  background: #fff;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-enable-disble-btn {
  -webkit-box-shadow: 0 5px #000;
          box-shadow: 0 5px #000;
  position: relative;
  border-radius: 5px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-enable-disble-btn:hover {
  -webkit-box-shadow: 0 4px #000;
          box-shadow: 0 4px #000;
  top: 2px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-enable-disble-btn.is-disble {
  opacity: 0.5;
  -webkit-box-shadow: 0 0px #000;
          box-shadow: 0 0px #000;
  top: 6px;
  border-radius: 0;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .color-box {
  cursor: pointer;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .dm-form-box-content .dm-box-text p {
  font-size: 14px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .color-box-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel .dm-form-layout .dm-form-items .dm-form-layout-item .color-box-content .dm-box-text {
  padding-left: 10px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-info-panel.shop .dm-form-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form {
  margin: 10px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .submit-btn {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px #000;
          box-shadow: 0 5px #000;
  background: #1d1b1c;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  padding: 12px 35px 12px 50px;
  border: 1px solid #1d1b1c;
  outline: none;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .submit-btn::before {
  position: absolute;
  left: 0;
  width: 40%;
  line-height: 0.8;
  content: url(../svg-and-image/svg/email.svg);
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .submit-btn:hover {
  -webkit-box-shadow: 0 4px #000;
          box-shadow: 0 4px #000;
  top: 2px;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .submit-btn.submited {
  opacity: 0.9;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
  top: 6px;
  border-radius: 0;
  border: 0;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .submit-btn.submited::before {
  content: url(../svg-and-image/svg/loading.svg);
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .btn-error {
  -webkit-animation: shakeAnim 4s linear infinite;
          animation: shakeAnim 4s linear infinite;
}

.dm-insta-magic .dm-page-card .dm-page-card-tab .dm-tab-info .dm-form-submit .submit-form .btn-error::before {
  content: url(../svg-and-image/svg/sad-face-in-rounded-square.svg);
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@-webkit-keyframes animatetop {
  from {
    bottom: -50%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    bottom: -50%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -50%;
    opacity: 0;
  }
}

@keyframes animatebottom {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -50%;
    opacity: 0;
  }
}

.dm-facebook-page-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.dm-facebook-page-popup.open-popup {
  display: block;
}

.dm-facebook-page-popup .dm-fb-popup-content {
  position: relative;
  margin: auto;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dm-facebook-page-popup .dm-fb-popup-content.popup-active-animation {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.dm-facebook-page-popup .dm-fb-popup-content.popup-diactive-animation {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.4s;
  animation-name: animatebottom;
  animation-duration: 0.4s;
}

.dm-facebook-page-popup .dm-popup-container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-contents {
  background: url(https://image.freepik.com/free-photo/facebook-logo-minimal-simple-design-template-copy-space-3d_1379-4868.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 0 0.4px 0 0 #e4e4e4;
          box-shadow: 0 0.4px 0 0 #e4e4e4;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-header .popup-close {
  line-height: 0;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-header .popup-close .popup-close-icon {
  background: transparent;
  border: 0;
  outline: none;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-header .popup-close .popup-close-icon svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-header .popup-heading h2.title {
  color: #fff;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content {
  padding: 30px 0;
  max-height: 350px;
  overflow: auto;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: start;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main .fb-page-info {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 33.33%;
  width: 100%;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"] {
  display: none;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label span.label-item {
  background-color: #fff;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label span.label-item:after {
  width: 10px;
  background: #4066af;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label span.label-item:before {
  width: 5px;
  background: #4066af;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label:hover span.label-item {
  background-color: #fff;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label:hover span.label-item:after {
  width: 10px;
  background: #4066af;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main input[type="radio"]:checked + label:hover span.label-item:before {
  width: 5px;
  background: #4066af;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label span.label-item {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 2px solid #fff;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  -webkit-transition: background-color 150ms 200ms, -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89), -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label span.label-item:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
  left: 8px;
  -webkit-transition: width 50ms ease 50ms;
  transition: width 50ms ease 50ms;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label span.label-item:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
  top: 15px;
  left: 9px;
  -webkit-transition: width 50ms ease;
  transition: width 50ms ease;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label:hover span.label-item:before {
  width: 5px;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label:hover span.label-item:after {
  width: 10px;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label .info-main {
  display: inline-block;
  width: calc(100% - 41px);
  vertical-align: top;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label .info-main span {
  display: block;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label .info-main span:last-child {
  padding-bottom: 0;
}

.dm-facebook-page-popup .dm-popup-container .dm-popup-main-content .dm-popup-main label .info-main .info-content {
  font-weight: 300;
}

.success-message-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success-message-popup .success-message-text {
  position: fixed;
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 250px;
  background: #000000b3;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 100%;
  bottom: 0px;
  margin: 15px;
}

.success-message-popup .success-message-text.is-save-successfully {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=style.css.map */